:root {
  --color-background: #f0f0f0;
  --color-text: #000;
  --color-text-primary: #bcbcbc;
  --color-text-gray: #666;

  --color-danger: #dc3545;
  --color-danger-hover: #bd2130;

  --color-palette-1: #5959ff;
  --color-palette-1-hover: #4a4afd;
  --color-palette-2: #f3a456;
  --color-palette-2-hover: #ee9a47;
  --color-palette-3: #fa4e4e;

  --color-border-1: #fa4e4e;
  --color-border-2: #f1973d;
  --color-border-3: #d2c400;
  --color-border-4: #008000;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
  overflow-x: hidden;
}

.title {
  font-size: 2rem;
  text-align: center;
  position: relative;
  padding-bottom: 20px;

  &:after {
    content: '';
    display: block;
    width: 200px;
    height: 3px;
    background-color: var(--color-palette-2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
